@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}




.header
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hi{
    left: 85%;
    color: #161616;
    display: flex;
    right: 0;
    float: right;
}

header h4{
    color: #161616;
    position: absolute;
    left: 10%;
    top: 3rem;
    font-size: 2rem;
    font-weight: 600;
}



.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616; 
    transition: 1s;
}

.logo-header{
    font-size: 3rem;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
} 